# Variables de entorno para la base de datos MySQL
MYSQL_ROOT_PASSWORD=contrasenia_prueba
SPRING_DATASOURCE_DATABASE=recetas_db
SPRING_DATASOURCE_USERNAME=springuser
SPRING_DATASOURCE_PASSWORD=spring_909090
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${SPRING_DATASOURCE_DATABASE}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true

# Secreto para JWT
JWT_SECRET=your_jwt_secret_here_make_it_long_and_random_for_production