.vboxContainer{
    -fx-background-color: rgb(161, 237, 235);
}

.txtFieldNombre, .txtFieldApellido, .txtFieldCorreo, .passFieldPass, .datePIckerFechaNac .text-field{
    -fx-background-color: #aad19e;
    -fx-prompt-text-fill: #fafafa;
}

.btnRegistrarse{
    -fx-background-color: #529a5c;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 14, 0.3, 0, 4);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-transition: background-color 0.2s;
    -fx-font-size: 14px;
}

.btnRegistrarse:pressed{
    -fx-background-color: #aad19e;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 6, 0.2, 0, 2);
}

.btnVolverLogin{
    -fx-background-color: #0d345b;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 14, 0.3, 0, 4);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-transition: background-color 0.2s;
    -fx-font-size: 14px;
}

.btnVolverLogin:pressed{
    -fx-background-color: #4390bc;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 6, 0.2, 0, 2);
}