.error {
  -fx-background-color: #fff0f0;
  -fx-border-color: #ff0000;
  -fx-border-width: 2px;
}

.error:focused {
  -fx-background-color: #fff0f0;
  -fx-border-color: #ff0000;
  -fx-border-width: 2px;
}

.warning {
  -fx-background-color: #fffff0;
  -fx-border-color: #ffa500;
  -fx-border-width: 2px;
}

.warning:focused {
  -fx-background-color: #fffff0;
  -fx-border-color: #ffa500;
  -fx-border-width: 2px;
}
